<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/button.css">

  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="">
    <link rel="shortcut icon" href="images/favicon (1).ico">
    <Link rel="stylesheet" href="assets/stylesheets/buttons.css">
</head>
<body>
  <!-- <div class="container"> -->
    <div class="svg-wrapper">
      <svg height="50" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
         <span class="spot"><%= link_to 'Tours', tours_path %></span>
        </div>
      </svg>
    </div>
  <!-- </div> -->

   <div class="svg-wrapper">
      <svg height="50" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <span class="spot"><%= link_to 'Videos', videos_path %></span>
        </div>
      </svg>
    </div>

    <div class="svg-wrapper">
      <svg height="50" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <span class="spot"><%= link_to 'Portraits', portraits_path %></span>
        </div>
      </svg>
    </div>

    <div class="svg-wrapper">
      <svg height="50" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <span class="spot"><%= link_to 'Live', lives_path %></span>
        </div>
      </svg>
    </div>

    <div class="svg-wrapper">
      <svg height="50" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <span class="spot"><%= link_to 'Artwork', artworks_path %></span>
        </div>
      </svg>
    </div>

    <div class="svg-wrapper">
      <svg height="50" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <span class="spot"><%= link_to 'About + Contact', aboutcontacts_path %></span>
        </div>
      </svg>
    </div>

    <div id="header">
      <h1>Neelam Kahn Vela</h1>
  </div>




</body>
</html>

