<div id="header">
  <!-- <h1>ARTWORK</h1> -->
</div>
<div class="row">
  <div class="column">
    <%= image_tag 'gang.jpg'%>
    <%= image_tag 'hinds2.png'%>
    <%= image_tag 'mulletman.png'%>
    <%= image_tag 'orielles.png'%>
    <%= image_tag 'blue.jpg'%>
    <%= image_tag 'pinkgloves.jpg'%>
    <%= image_tag 'guys.jpg'%>
  </div>
  <div class="column">
    <%= image_tag 'double.jpg'%>
    <%= image_tag 'hinds.png'%>
    <%= image_tag 'ninthwave.png'%>
    <%= image_tag 'weyes.png'%>
    <%= image_tag 'henry.jpg'%>
    <%= image_tag 'flick.png'%>
    <%= image_tag 'beerman.jpg'%>
  </div>
</div>